*
    margin: 0
    padding: 0
    list-style: none
    text-decoration: none
    box-sizing: border-box
    outline: none
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-tap-highlight-color: transparent

body
    font-family: FiraRegular
    color: $black    
    background: #F6F6F6
    &.active
        overflow: hidden
        position: relative
        &::after
            content: ''
            background: $darkbg
            position: absolute
            z-index: 9
            width: 100vw
            height: 1000vh
            right: 0
            top: 0
            opacity: 96.5%
    &::-webkit-scrollbar
        display: none
    &.bgcl-changed
        background: #fff
a
    color: inherit

.container
    padding: 0 20px
    max-width: 1336px
    margin: 0 auto
    width: 100%


.home-latest-news-inner, .personal-stories-content, .home-personal-stories-inner, .home-aboutus-inner, .rg-news-inner, .sports-inner, .ps-article-text, .hero-respo-article-outter, .personal-stories-a-outter, .main-slider-hc-nav-inner, header > div
    &.container        
        @include tabletPlus768()
            max-width: 632px
            padding: 0
        @include desktopPlus1024()
            max-width: 978px            
        @include sizePlus(1441px) 
            max-width: 1336px
            padding: 0 20px

.atech.aboutus-article-div
    .for-borderNpad
        @include tabletPlus768()
            max-width: 632px
        @include desktopPlus1024()
            max-width: 978px
        @include sizePlus(1441px) 
            max-width: 1336px
    
.social-logos
    a:hover
        fill: $green
        path, rect
            fill: $green

