.hero-sports-game-cover-div.donations + * .hero-respo-article
    background-image: url(../images/donations/grey-title-text-bg.svg)
    @include tabletPlus768()
        background-image: url(../images/donations/grey-title-text-bg768.svg)
    @include desktopPlus1024()
        background-image: url(../images/donations/grey-title-text-bg1024.svg)
.donations-each
    @include sportsEach()
    @include desktopPlus1024()
        height: auto
    max-height: unset
    overflow: initial

.donations-each-text-div
    display: flex
    flex-direction: column
    justify-content: space-between
.donations-each-img-div
    width: 100%
    flex: 1
    height: 264px
    margin-bottom: 60px
    @include mobilePlus360()
        margin-bottom: 48px
    @include tabletPlus768()
        margin-bottom: 40px
    @include desktopPlus1024()
        margin-bottom: 0
        height: 559px
        width: unset
    img
        width: calc(100% - 34px)
        height: 230px       
        object-fit: cover
        object-position: center
        border-radius: 4px
        box-shadow: 34px 34px 0 0 #f6f6f6
        @include desktopPlus1024()
            width: calc( 100% - 54px )
            max-width: 480px
            height: 460px
            border-radius: 0
            box-shadow: 54px 99px 0 0 #f6f6f6
            
.donations-textNsee-more-btn
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    .donations-textNsee-more-btn-p
        overflow: hidden
        margin-bottom: 37px
        max-height: 194px
        font-family: firaBold
        font-size: 12px
        line-height: 19.2px
        transition: max-height -200ms 300ms ease-out
        @include tabletPlus768()
            margin-bottom: 0
            font-family: firaMedium
            font-size: 16px
            line-height: 25.6px
        @include desktopPlus1024()
            max-height: 235px
            font-size: 18px
            line-height: 32px
        &.active
            max-height: 9999px
            transition: max-height 400ms ease-in
            p
                display: block !important
            + a
                @include tabletPlus768()
                    margin-top: 48px
                    transition: margin-top .1s ease-in
        + a
            @include tabletPlus768()
                margin-top: 0
                transition: margin-top .1s ease-out
        p
            margin-bottom: 40px
            &:last-child
                margin-bottom: 0
            &:not(:first-child)
                display: none
                
            
.donations-show-more
    font-family: mtavBold
    text-decoration: underline
    color: $green
    font-size: 12px
    line-height: 19.2px
    @include tabletPlus768()
        font-size: 18px
    @include desktopPlus1024()   
        font-size: 22px
        line-height: 35.2px
    .shrink
        display: none
    &.active
        color: $pink
        .grow
            display: none
        .shrink
            display: unset

