.hero-sports-game-cover-div.donations + * .hero-respo-article
    background-image: url(../images/donations/hero-content-cover320.svg)    
    @include sizePlus(360px) 
        background-image: url(../images/donations/hero-content-cover.svg)
    @include tabletPlus768()
        background-image: url(../images/donations/hero-content-cover768.svg)
    @include sizePlus(900px)
        background-image: url(../images/donations/hero-content-cover1024.svg)
    @include sizePlus(1300px) 
        background-image: url(../images/donations/hero-content-cover1300.svg)    
.donations-each
    @include sportsEach()
    max-height: unset
    overflow: initial
    // margin-bottom: 72px
    @include desktopPlus1024()
        height: auto
        // margin-bottom: 102px

.donations-each-text-div
    display: flex
    flex-direction: column
    justify-content: space-between
.donations-each-img-div
    @include imageBG()
.donations-textNsee-more-btn
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    .donations-textNsee-more-btn-p
        overflow: hidden
        margin-bottom: 37px
        max-height: 194px
        font-family: firaBold
        font-size: 12px
        line-height: 19.2px
        transition: max-height -200ms 300ms ease-out
        @include tabletPlus768()
            margin-bottom: 0
            font-family: firaMedium
            font-size: 16px
            line-height: 25.6px
        @include desktopPlus1024()
            max-height: 235px
            font-size: 18px
            line-height: 28px
        &.active
            max-height: 9999px
            transition: max-height 400ms ease-in
            p
                display: block !important
            + a
                margin-top: 23px
                transition: margin-top .1s ease-in
                @include tabletPlus768()
                    margin-top: 48px
                    transition: margin-top .1s ease-in
        + a
            margin-top: 0
            transition: margin-top .1s ease-out
        p
            margin-bottom: 40px
            &:last-child
                margin-bottom: 0
            &:not(:first-child)
                display: none
                
            
.donations-show-more
    font-family: mtavBold
    text-transform: uppercase
    text-decoration: underline
    color: $green
    font-size: 12px
    line-height: 19.2px
    @include tabletPlus768()
        font-size: 18px
    @include desktopPlus1024()   
        font-size: 22px
        line-height: 35.2px
    .shrink
        display: none
    &.active
        color: $pink
        .grow
            display: none
        .shrink
            display: unset

.donations-page
    margin-bottom: 72px
    @include desktopPlus1024() 
        margin-bottom: 120px