.home-latest-news, .home-personal-stories
    position: relative
    margin-bottom: 98px
    background: white
    padding-bottom: 35px
    border: none
    border-top: 2px dashed $green
    @include desktopPlus1024()
        padding-bottom: 70px
        margin-bottom: 180px



.container, .ps-video-gallery
    h1
        width: 220px
        height: 50px
        text-transform: uppercase
        background: url(../images/green-title-text-bg.svg) center
        background-size: contain
        background-repeat: no-repeat
        position: absolute
        z-index: -1
        display: flex
        align-items: center
        color: white
        font-family: mtavBold
        text-transform: uppercase
        font-size: 16px
        padding-left: 31px
        top: -50px        
        box-sizing: border-box
        @include tabletPlus768()
            width: 354px
            font-size: 20px
            background: url(../images/green-title-text-bg768.svg)
        @include desktopPlus1024()
            width: 470px   
            height: 80px   
            top: -80px
            font-size: 26px
            background: url(../images/green-title-text-bg1024.svg)

.latest-news-ul
    margin-top: 29px
    display: flex
    flex-direction: column
    @include desktopPlus1024()
        flex-direction: row
        gap: 30px
    @include sizePlus(1441px) 
        gap: 36px
.latest-news-li
    width: 100%
    overflow: hidden
    border: 1px solid $e3
    border-radius: 0 10px 10px 0
    height: 120px
    margin-top: 28px
    transition: box-shadow .2s ease-in-out
    &:first-child
        margin-top: 0
    @include tabletPlus768()
        margin-top: 24px
        width: 632px
        height: 160px
        &:first-child
            margin-top: 0
    @include desktopPlus1024()
        width: 420px
        height: 380px
        margin-top: 0
        border-radius: 0 0 40px 40px
    @include sizePlus(1441px) 
        width: 420px
        margin-top: 0
        border-radius: 0 0 40px 40px
        height: unset
    img
        object-fit: cover
        object-position: center
        width: 156px
        height: 120px
        border: 1px solid #707070
        @include tabletPlus768()
            width: 304px
            height: 160px
        @include desktopPlus1024()
            width: 100%
            max-width: 420px
            height: 200px
        @include sizePlus(1441px) 
            width: 100%
            max-width: 420px
            height: 260px
    figure
        display: flex
        height: 100%
        @include desktopPlus1024()
            display: block
    figcaption
        margin-bottom: 7px
        font-family: firaRegular
        font-size: 10px
        color: #707070
        @include tabletPlus768()
            font-size: 14px
        @include desktopPlus1024()
            margin-bottom: 25px
    .latest-news-text-content
        padding: 18px 13px 25px 14px
        height: 100%
        display: flex
        width: 100%
        flex-direction: column
        justify-content: space-between
        @include tabletPlus768()
            padding: 28px 49px 28px 24px
            width: unset
        @include desktopPlus1024()
            padding: 25px 26px 46px 30px
            height: 230px
            justify-content: flex-start
        h2            
            font-size: 12px
            line-height: 19.2px
            font-family: mtavBold
            text-transform: uppercase
            display: block            
            @include tabletPlus768()
                font-size: 18px
                line-height: 28px
                max-height: 78px
                flex-grow: 1
                overflow: hidden
            @include desktopPlus1024()
                max-height: 114px
            @include sizePlus(1441px) 
                font-size: 24px
                line-height: 38.4px
                
    &:hover
        box-shadow: 0px 0px 20px #00000029
                

.latest-news-h2
    overflow: hidden