.hero-sports-game-cover-div.personal-stories + * .hero-respo-article
    background-image: url(../images/personal-stories/hero-content-cover320.svg)    
    @include sizePlus(360px) 
        background-image: url(../images/personal-stories/hero-content-cover.svg)
    @include tabletPlus768()
        background-image: url(../images/personal-stories/hero-content-cover768.svg)
    @include sizePlus(900px)
        background-image: url(../images/personal-stories/hero-content-cover1024.svg)
    @include sizePlus(1300px) 
        background-image: url(../images/personal-stories/hero-content-cover1300.svg)

.ps-video-gallery
    border-top: 2px dashed #203668
    .latest-news-h1
        background: url(../images/blue-title-text-bg.svg)
        @include tabletPlus768()
            background: url(../images/blue-title-text-bg768.svg)
        @include desktopPlus1024()
            background: url(../images/blue-title-text-bg1024.svg)



.ps-article-inner
    .hr-div
        padding: 0
        @include tabletPlus768()
            padding: 0
            max-width: 632px
        @include desktopPlus1024()
            max-width: 1100px
            padding: 0 20px
    hr
        border-bottom: 1px solid #9C9E9F
        transform: translateY(-83px)
        @include desktopPlus1024()  
            transform: translateY(-72px)



.ps-article-video
    width: 100%
    height: 181px
    margin-bottom: 36px
    @include tabletPlus768()
        height: 450px
        @include centering()
    @include desktopPlus1024()
        height: 750px
        margin-bottom: 100px
        display: block !important
    iframe
        width: 100%
        height: 100%
        border-radius: 8px
        @include tabletPlus768()
            max-width: 796px
        @include desktopPlus1024()
            max-width: 1336px

.ps-article-text-p, .sports-each-text-div-p, .arena-text-div-p, .sports-each-text-div-p, .donations-textNsee-more-btn-p
    li
        list-style: initial
        list-style-position: inside
        font-size: inherit
        font-family: inherit
        font-weight: inherit
        // padding-left: initial
.ps-article-text
    padding: 15px
    h2
        margin-bottom: 37px
        font-family: mtavBold
        font-size: 16px
        line-height: 25.6px
        @include tabletPlus768()
            font-size: 20px
            line-height: 32px
        @include desktopPlus1024()
            font-family: mtavBold
            font-size: 26px
            line-height: 38.4px
            margin-bottom: 58.7px
    .ps-article-text-p
        font-family: firaBold
        font-size: 12px
        line-height: 19.2px
        margin-bottom: 144px

        @include tabletPlus768()
            font-size: 16px
            // margin-bottom: 0
            line-height: 25.6px
        @include desktopPlus1024()
            font-family: firaMedium
            font-size: 18px
            line-height: 32px
            
    &.container
        @include desktopPlus1024()
            max-width: 1100px

.personal-stories-article
    background: white
    margin-bottom: 92px
    margin-top: -38px
    padding-top: 38px
    @include desktopPlus1024()
        margin-bottom: 180px
        margin-top: -72px
        padding-top: 72px
    &.no-video-gallery
        margin-bottom: 0

.img-div
    position: relative

.ps-video-gallery-inner
    .latest-news-ul
        @include desktopPlus1024()        
            gap: 0 
    .latest-news-li
        @include desktopPlus1024()
            display: flex
            flex-shrink: 0

.rg-news.rg-arena.atech-article-outter.margin-top
    background: white !important  
    margin-top: -38px
@include desktopPlus1024()
    .rg-news.rg-arena.atech-article-outter.margin-top
        margin-top: -72px