@import fonts
@import variables
@import defaults
// real components
@import header
@import main
@import latest-news
@import personal-stories
@import about-us
@import footer
// responsive game
@import respogame/main

.rg-news
    display: flex
    flex-direction: column
    gap: 98px  
    @include desktopPlus1024()
        flex-flow: row wrap
        background: white 
        justify-content: space-between
        column-gap: 36px
    img
        width: 48%
        height: 100%
        object-fit: cover
        object-position: center
        @include desktopPlus1024()
            width: 100%
        
.rg-news-each
    background: none
    width: 100%
    position: relative
    background: white 
    border-top: 2px dashed $pink 
    padding: 28px 18px 32px
    @include desktopPlus1024()
        width: calc(50% - 17.9844069px)       
        background: none
        border-top: none
    &::after
        content: ''
        display: none
        height: 0
        width: 100vw
        border-bottom: 2px dashed $pink
        position: absolute
        right: 0
        top: 0
        @include desktopPlus1024()
            display: block
        


.rg-news-h1
    width: 220px
    height: 50px
    background: url(../images/respogame/grey-title-text-bg.svg)
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    display: flex
    align-items: center
    color: $pink
    font-family: firaBold
    font-size: 16px
    padding-left: 31px
    top: -52px
    box-sizing: border-box
    @include tabletPlus768()
        width: 354px
        font-size: 20px
        background: url(../images/respogame/grey-title-text-bg768.svg)
    @include desktopPlus1024()
        width: 470px   
        height: 80px   
        top: -80px
        font-size: 26px
        background: url(../images/respogame/grey-title-text-bg1024.svg)


