@import fonts
@import variables
@import defaults
// real components
@import header
@import main
@import latest-news
@import personal-stories
@import about-us
@import footer
// responsive game
@import respogame/main
@import respogame/sectionNarticle
@import respogame/martetamashi
@import sports
@import atech
@import techjam

.aboutus-article
    @media screen and ( max-width: 768px ) 
        padding: 0
        
.aboutus-article-div
    
    @include tabletPlus768()
        padding: 47px 0
    @include desktopPlus1024()
        padding: 36px 20px
    .atech-article-bottom-textbox
        justify-content: center
.for-borderNpad
    @include tabletPlus768()
        padding: 0
    @include desktopPlus1024()
        padding: 79px 35px
        border: 1px solid $e3
        border-radius: 12px

    @include sizePlus(1336px)
        padding: 79px 115px
    

article.aboutus-article.atech-article > div
    @include desktopPlus1024()
        height: 638px
        min-height: 560px


// second section
.home-aboutus.in-real-aboutus
    .home-aboutus-inner
        height: auto
        min-height: unset
    

.year-accountings-download
    display: flex
    flex-wrap: wrap
    color: #ABADAD
    a
        font-family: firaMedium
        font-size: 16px
        line-height: 25.6px
        color: inherit
        background: $e3
        width: 100%
        height: 80px
        padding: 22.5px 25px
        border-radius: 8px
        transition: all .2s ease-in-out
        @include flexing(space-between, center)

        @include tabletPlus768() 
            width: 306px
        span
            font-family: firaBold
            font-size: 24px
            line-height: 38.4px
        &:hover, &:active
            background: $green
            color: white
            svg path
                fill: white
    li 
        width: 100%
        @include tabletPlus768()
            width: unset
.in-real-aboutus .home-aboutus-inner.container
    @media screen and ( max-width: 1024px )        
        max-width: unset
    padding: 0 20px


@supports not (gap: 30px)
    .year-accountings-download
        li 
            display: flex
            justify-content: space-between
            margin-right: 12px
            margin-bottom: 12px
            @include tabletPlus768()
                margin-right: 22px
                margin-bottom: 22px
            @include desktopPlus1024()
                margin-right: 36px
                margin-bottom: 36px
            &:last-child
                margin-right: 0
@supports (gap: 30px)
    .year-accountings-download
        gap: 12px
        @include tabletPlus768()
            gap: 22px
        @include desktopPlus1024()
            gap: 36px
