@import defaults
@import variables
// real components
@import header
@import main

.home-latest-news
    position: relative
    margin-bottom: 50px

.latest-news-h1
    width: 220px
    height: 50px
    background: $green
    border-top-left-radius: 16px
    border-top-right-radius: 16px
    border-bottom-right-radius: -16px
    position: absolute
    display: flex
    align-items: center
    color: white
    font-family: firaBold
    font-size: 16px
    padding-left: 31px
    top: -50px
    @include tabletPlus768()
        width: 354px
        font-size: 20px
    @include desktopPlus1024()
        width: 454px   
        height: 80px   
        top: -80px
        font-size: 26px
    &::after
        content: ''
        position: absolute
        bottom: 0
        right: -16px
        border-radius: 16px
        height: 100%
        width: 16px
        background: $normalbg

.latest-news-ul
    margin-top: 28px
    display: flex
    justify-content: space-between
    flex-direction: column
    padding-top: 28px
    @include desktopPlus1024()
        flex-direction: row
        gap: 36px
.latest-news-li
    width: 324px
    overflow: hidden
    border: 1px solid $e3
    border-radius: 0 10px 10px 0
    @include tabletPlus768()
        margin-top: 24px
        width: 632px
        border-radius: 0 0 40px 40px
        &:first-child
            margin-top: 0
    @include desktopPlus1024()
        width: 420px
        margin-top: 0
    img
        object-fit: cover
        object-position: center
        width: 156px
        height: 120px
        border: 1px solid #707070
        @include tabletPlus768()
            width: 304px
            height: 160px
        @include desktopPlus1024()
            width: 100%
            max-width: 420px
            height: 260px
    figcaption
        margin-top: 25px
        margin-bottom: 25px
        font-family: firaGo
        font-size: 10px
        padding: 0 24px
        @include tabletPlus768()
            font-size: 14px
    .latest-news-h2
        padding: 24px 26px 46px 31px
        font-size: 24px
        line-height: 38.4px
        font-family: firaBold
        display: block
        @include desktopPlus1024()
            height: 230px