@font-face {
  font-family: firaBold;
  src: url(../fonts/FiraGO-Bold.ttf);
}

@font-face {
  font-family: firaBook;
  src: url(../fonts/FiraGO-Book.ttf);
}

@font-face {
  font-family: firaEight;
  src: url(../fonts/FiraGO-Eight.ttf);
}

@font-face {
  font-family: firaExtraBold;
  src: url(../fonts/FiraGO-ExtraBold.ttf);
}

@font-face {
  font-family: firaExtraLight;
  src: url(../fonts/FiraGO-ExtraLight.ttf);
}

@font-face {
  font-family: firaFour;
  src: url(../fonts/FiraGO-Four.ttf);
}

@font-face {
  font-family: firaHair;
  src: url(../fonts/FiraGO-Hair.ttf);
}

@font-face {
  font-family: firaHeavy;
  src: url(../fonts/FiraGO-Heavy.ttf);
}

@font-face {
  font-family: firaLight;
  src: url(../fonts/FiraGO-Light.ttf);
}

@font-face {
  font-family: firaMedium;
  src: url(../fonts/FiraGO-Medium.ttf);
}

@font-face {
  font-family: firaRegular;
  src: url(../fonts/FiraGO-Regular.ttf);
}

@font-face {
  font-family: firaSemiBold;
  src: url(../fonts/FiraGO-SemiBold.ttf);
}

@font-face {
  font-family: firaThin;
  src: url(../fonts/FiraGO-Thin.ttf);
}

@font-face {
  font-family: firaTwo;
  src: url(../fonts/FiraGO-Two.ttf);
}

@font-face {
  font-family: firaUltraLight;
  src: url(../fonts/FiraGO-UltraLight.ttf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  font-family: FiraRegular;
  color: #353535;
  background: #F6F6F6;
}

body.active {
  overflow: hidden;
}

body.active::after {
  content: '';
  background: #363636;
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  opacity: 90%;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
}

.container {
  padding: 0 20px;
  max-width: 1336px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .home-latest-news-inner.container, .personal-stories-content.container, .home-personal-stories-inner.container, .home-aboutus-inner.container, .rg-news-inner.container {
    max-width: 632px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .home-latest-news-inner.container, .personal-stories-content.container, .home-personal-stories-inner.container, .home-aboutus-inner.container, .rg-news-inner.container {
    max-width: 1336px;
    padding: 0 20px;
  }
}

.social-logos a:hover {
  fill: #2C7A60;
}

.social-logos a:hover path, .social-logos a:hover rect {
  fill: green;
}

header {
  background: white;
  text-align: center;
  right: 0;
  font-size: 16px;
  font-family: firaMedium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  header {
    position: static;
  }
}

header::after {
  content: '';
  display: none;
  height: 1px;
  background: #2C7A60;
  position: absolute;
  top: 100px;
  right: 0;
  width: 100vw;
  height: 1px;
}

@media screen and (min-width: 1024px) {
  header::after {
    display: block;
  }
}

header .header-logo-desktop {
  width: 175px;
}

@media screen and (min-width: 1024px) {
  header .header-logo-desktop {
    width: 250px;
  }
}

header.active {
  width: 90%;
  height: 100vh;
  padding: 0;
  z-index: 10;
  position: fixed;
  -webkit-animation: burgerSlideStart 1s;
          animation: burgerSlideStart 1s;
}

header.active::after {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  header.active .header-logo-desktop {
    width: 250px;
  }
}

header.removing {
  width: 90%;
  height: 100vh;
  z-index: 10;
  padding: 0;
  position: fixed;
  -webkit-animation: burgerSlideStartReverse 1s;
          animation: burgerSlideStartReverse 1s;
}

header.removing::after {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  header.removing .header-logo-desktop {
    width: 250px;
  }
}

@-webkit-keyframes burgerSlideStart {
  0% {
    width: 0;
  }
  1% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes burgerSlideStart {
  0% {
    width: 0;
  }
  1% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@-webkit-keyframes burgerSlideStartReverse {
  0% {
    width: 90%;
  }
  1% {
    width: 90%;
  }
  100% {
    width: 0;
  }
}

@keyframes burgerSlideStartReverse {
  0% {
    width: 90%;
  }
  1% {
    width: 90%;
  }
  100% {
    width: 0;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.header-top .header-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .header-top .header-top-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.header-top,
.header-bot {
  padding: 0 20px;
}

@media screen and (min-width: 1024px) {
  .header-top,
  .header-bot {
    height: 100px !important;
    padding: 0 !important;
  }
}

.header-bot {
  height: unset;
  display: none;
  padding: 0 37px;
}

@media screen and (min-width: 768px) {
  .header-bot {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1024px) {
  .header-bot {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .header-bot.fixed {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    background: white;
    z-index: 9;
  }
}

.active .header-bot, .removing .header-bot {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.active .header-bot.active, .removing .header-bot.active {
  display: none;
}

.active .nav, .removing .nav {
  margin-top: 30px;
  height: 375px;
}

.burger {
  cursor: pointer;
}

.burger::after {
  width: 100%;
  height: 100%;
  content: url(../images/burger.svg);
}

@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.active .burger::after, .removing .burger::after {
  content: url(../images/x.svg);
}

.top-right-languagebar {
  width: 100px;
  height: 50px;
  border-left: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  margin-left: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (min-width: 1024px) {
  .top-right-languagebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.top-right-languagebar select, .top-right-languagebar option {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

.header-aboutus {
  display: none;
}

@media screen and (min-width: 1024px) {
  .header-aboutus {
    display: unset;
  }
}

.nav {
  height: 100%;
}

.header-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
  max-width: 980px;
  height: 100%;
  padding-top: 31px;
}

@media screen and (min-width: 1024px) {
  .header-nav-ul {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .header-nav-li {
    margin-right: 56px;
  }
  .header-nav-li:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 1000px) {
  .header-nav-li {
    margin-right: 76px;
  }
  .header-nav-li:last-child {
    margin-right: 0;
  }
}

.header-nav-li a {
  display: inline-block;
  max-height: 19px;
  overflow: hidden;
  text-align: left;
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin-top: 15px;
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .header-socials {
    display: none;
  }
}

.header-socials p {
  margin-right: 10px;
}

@media screen and (min-width: 415px) {
  .header-socials p {
    margin-right: 35px;
  }
}

.social-logos {
  width: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.respo-languagebar {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 181px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  header .respo-languagebar {
    display: none;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
  width: 100%;
  margin-bottom: 98px;
}

@media screen and (min-width: 1024px) {
  main {
    height: 500px;
    margin-bottom: 180px;
  }
}

.swiper-container, .swiper-wrapper, .swiper-slide {
  width: 100%;
  height: 100%;
}

.hero-content {
  position: relative;
}

.main-slider-hc-pagination {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  -webkit-transform: translateY(calc(100% + 12px));
          transform: translateY(calc(100% + 12px));
}

@media screen and (min-width: 768px) {
  .main-slider-hc-pagination {
    -webkit-transform: translateY(calc(100% + 14px));
            transform: translateY(calc(100% + 14px));
  }
}

@media screen and (min-width: 1024px) {
  .main-slider-hc-pagination {
    -webkit-transform: translateY(calc(100% + 22px));
            transform: translateY(calc(100% + 22px));
  }
}

.main-slider-hc-nav {
  height: 80px;
  position: absolute;
  top: 50%;
  bottom: unset;
  left: unset;
  right: unset;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  display: none;
}

@media screen and (min-width: 1024px) {
  .main-slider-hc-nav {
    display: block;
  }
}

.main-slider-hc-nav-inner {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-slider-hc-nav-inner > div {
  width: 40px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.main-slider-hc-prev {
  background-image: url(../images/swiper-nav-left.svg);
}

.main-slider-hc-next {
  background-image: url(../images/swiper-nav-right.svg);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #CBCBCB;
  opacity: unset;
  margin-right: 14px;
}

@media screen and (min-width: 1024px) {
  .swiper-pagination-bullet {
    margin-right: 31px;
    width: 12px;
    height: 12px;
  }
}

.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2C7A60;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.home-latest-news, .home-personal-stories {
  position: relative;
  margin-bottom: 98px;
  background: white;
  padding-bottom: 35px;
  border: none;
  border-top: 2px dashed #2C7A60;
}

@media screen and (min-width: 1024px) {
  .home-latest-news, .home-personal-stories {
    padding-bottom: 70px;
    margin-bottom: 180px;
  }
}

.container h1 {
  width: 220px;
  height: 50px;
  background: url(../images/green-title-text-bg.svg) center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: firaBold;
  font-size: 16px;
  padding-left: 31px;
  top: -50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .container h1 {
    width: 354px;
    font-size: 20px;
    background: url(../images/green-title-text-bg768.svg);
  }
}

@media screen and (min-width: 1024px) {
  .container h1 {
    width: 470px;
    height: 80px;
    top: -80px;
    font-size: 26px;
    background: url(../images/green-title-text-bg1024.svg);
  }
}

.latest-news-ul {
  margin-top: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .latest-news-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 36px;
  }
}

.latest-news-li {
  width: 100%;
  overflow: hidden;
  border: 1px solid #E3E3E3;
  border-radius: 0 10px 10px 0;
  height: 120px;
  margin-top: 28px;
}

.latest-news-li:first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .latest-news-li {
    margin-top: 24px;
    width: 632px;
    height: 160px;
  }
  .latest-news-li:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .latest-news-li {
    width: 420px;
    margin-top: 0;
    border-radius: 0 0 40px 40px;
    height: unset;
  }
}

.latest-news-li img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 156px;
  height: 120px;
  border: 1px solid #707070;
}

@media screen and (min-width: 768px) {
  .latest-news-li img {
    width: 304px;
    height: 160px;
  }
}

@media screen and (min-width: 1024px) {
  .latest-news-li img {
    width: 100%;
    max-width: 420px;
    height: 260px;
  }
}

.latest-news-li figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .latest-news-li figure {
    display: block;
  }
}

.latest-news-li figcaption {
  margin-bottom: 7px;
  font-family: firaRegular;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .latest-news-li figcaption {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .latest-news-li figcaption {
    margin-bottom: 25px;
  }
}

.latest-news-li .latest-news-text-content {
  padding: 18px 13px 25px 14px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .latest-news-li .latest-news-text-content {
    padding: 28px 49px 28px 24px;
    width: unset;
  }
}

@media screen and (min-width: 1024px) {
  .latest-news-li .latest-news-text-content {
    padding: 25px 26px 46px 30px;
    height: 230px;
  }
}

.latest-news-li .latest-news-text-content h2 {
  font-size: 12px;
  line-height: 19.2px;
  font-family: firaBold;
  display: block;
}

@media screen and (min-width: 768px) {
  .latest-news-li .latest-news-text-content h2 {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .latest-news-li .latest-news-text-content h2 {
    font-size: 24px;
    line-height: 38.4px;
  }
}

.home-personal-stories {
  border-top: 2px dashed #203668;
  height: 350px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .home-personal-stories {
    height: 810px;
    padding-bottom: 0;
  }
}

h1.personal-stories-h1 {
  background-image: url(../images/blue-title-text-bg.svg);
  background-size: contain;
}

@media screen and (min-width: 768px) {
  h1.personal-stories-h1 {
    background-image: url(../images/blue-title-text-bg768.svg);
  }
}

@media screen and (min-width: 1024px) {
  h1.personal-stories-h1 {
    background-image: url(../images/blue-title-text-bg1024.svg);
  }
}

.personal-stories-content {
  margin-top: 28px;
  margin-bottom: 28px;
  height: 100%;
  width: 100%;
  background: white;
}

@media screen and (min-width: 1024px) {
  .personal-stories-content {
    padding-bottom: 30px;
  }
}

.personal-stories-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.personal-stories-a-outter {
  padding: 0 20px;
  position: absolute;
  bottom: 33px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  font-family: firaMedium;
  font-size: 14px;
  line-height: 20.6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .personal-stories-a-outter {
    padding: 0 67px;
    bottom: 31px;
  }
}

@media screen and (min-width: 1024px) {
  .personal-stories-a-outter {
    font-size: 16px;
    bottom: 53px;
  }
}

.personal-stories-a-outter .personal-stories-button {
  height: 50px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  width: 100%;
  -webkit-transition: border .4s ease-in-out;
  transition: border .4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .personal-stories-a-outter .personal-stories-button {
    width: 223px;
    height: 60px;
    border-radius: 12px;
    padding: 0;
  }
}

.personal-stories-a-outter .personal-stories-button::after {
  content: url(../images/arrow-right-button-inside.svg);
  position: relative;
  left: 18px;
}

.personal-stories-a-outter .personal-stories-button:hover, .personal-stories-a-outter .personal-stories-button:active {
  border: 1px solid #2C7A60;
}

.personal-stories-content.container {
  position: relative;
}

.personal-stories-content.container img {
  border-radius: 12px;
}

@media screen and (min-width: 1024px) {
  .personal-stories-a-outter.container {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    padding: 0 20px;
  }
}

h1.home-aboutus-h1 {
  background-image: url(../images/pink-title-text-bg.svg);
  background-size: contain;
}

@media screen and (min-width: 768px) {
  h1.home-aboutus-h1 {
    background-image: url(../images/pink-title-text-bg768.svg);
  }
}

@media screen and (min-width: 1024px) {
  h1.home-aboutus-h1 {
    background-image: url(../images/pink-title-text-bg1024.svg);
  }
}

.home-aboutus {
  position: relative;
  border-top: 2px dashed #C8495E;
  background-color: white;
  margin-top: 30px;
  padding-bottom: 72px;
  margin-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .home-aboutus {
    padding-bottom: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .home-aboutus {
    padding-bottom: 143px;
  }
}

.home-aboutus-inner {
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-aboutus-inner .aboutus-cover, .home-aboutus-inner .aboutus-texts {
  width: 100%;
  height: 269px;
  font-family: firaBold;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (min-width: 768px) {
  .home-aboutus-inner .aboutus-cover, .home-aboutus-inner .aboutus-texts {
    font-family: firaMedium;
    font-size: 16px;
    line-height: 25.6px;
  }
}

@media screen and (min-width: 1024px) {
  .home-aboutus-inner .aboutus-cover, .home-aboutus-inner .aboutus-texts {
    width: unset;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
  }
}

.home-aboutus-inner .aboutus-cover {
  background: url(../images/real-images/about-us.jpg) no-repeat center;
  overflow: hidden;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px 12px 0 0;
}

@media screen and (min-width: 1024px) {
  .home-aboutus-inner .aboutus-cover {
    border-radius: 12px;
    padding: 0 20px;
  }
}

.home-aboutus-inner .aboutus-cover svg {
  width: 230px;
  height: 50px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  margin: 0 auto;
  width: 300px;
  width-transform: translateY(60px);
}

@media screen and (min-width: 1024px) {
  .home-aboutus-inner .aboutus-cover svg {
    -webkit-transform: translateY(155px);
            transform: translateY(155px);
    height: 150px;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .home-aboutus-inner .aboutus-cover {
    height: 570px;
  }
}

.home-aboutus-inner .aboutus-texts {
  padding: 30px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  border: 1px solid #E3E3E3;
  border-radius: 0 0 20px 20px;
}

@media screen and (min-width: 768px) {
  .home-aboutus-inner .aboutus-texts {
    position: static;
    padding: 30px 50px;
  }
}

@media screen and (min-width: 768px) {
  .home-aboutus-inner .aboutus-texts::after {
    content: none;
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .home-aboutus-inner .aboutus-texts {
    border: none;
    padding: 0;
    height: 570px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .home-aboutus-inner {
    min-height: 557px;
  }
}

@media screen and (min-width: 1024px) {
  .home-aboutus-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: none;
    border: none;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    gap: 36px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.home-aboutus-inner .aboutus-link {
  font-family: firaMedium;
  color: #2C7A60;
  margin-top: 25.6px;
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .home-aboutus-inner .aboutus-link {
    text-align: left;
    margin-top: 37.8px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .home-aboutus-inner .aboutus-link {
    margin-top: unset;
    font-size: 22px;
    line-height: 31px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.aboutus-divOfPs p {
  margin-bottom: 8px;
}

.aboutus-divOfPs p:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .aboutus-divOfPs p {
    margin-bottom: 17px;
  }
  .aboutus-divOfPs p:last-child {
    margin-bottom: 0;
  }
}

footer {
  background: url(../images/CSR_bg_2.jpg) no-repeat;
  background-size: cover;
}

.footer-logo-div {
  width: 100%;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .footer-logo-div {
    height: 200px;
  }
}

.footer-logo-div svg {
  width: 150px;
  height: 30px;
}

@media screen and (min-width: 1024px) {
  .footer-logo-div svg {
    width: 250px;
    height: 50px;
  }
}

.footer-top {
  background: white;
  height: 340px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-top {
    height: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-top {
    height: 100px;
  }
}

.footer-top-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 26px !important;
  padding-bottom: 30px !important;
  font-family: firaMedium;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer-top-inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 12px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-top-inner {
    font-size: 16px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-top-inner .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 25px;
}

@media screen and (min-width: 768px) {
  .footer-top-inner .nav {
    min-height: unset;
    max-height: unset;
  }
}

@media screen and (min-width: 1024px) {
  .footer-top-inner .nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 195px;
    min-height: unset;
    max-height: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-top-inner .nav .header-nav-ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 23px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top-inner .nav .header-nav-ul::after {
  content: '';
  height: 1px;
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 80px;
  background: #A0A0A0;
}

@media screen and (min-width: 768px) {
  .footer-top-inner .nav .header-nav-ul::after {
    bottom: 91px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-top-inner .nav .header-nav-ul::after {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .footer-top-inner .nav .header-nav-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.footer-deskPlus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 50px;
}

@media screen and (min-width: 768px) {
  .footer-deskPlus {
    max-height: unset;
    -webkit-box-flex: initial;
        -ms-flex: initial;
            flex: initial;
    -webkit-transform: none;
            transform: none;
    margin-top: unset;
    height: 92px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer-deskPlus {
    height: unset;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.footer-deskPlus .respo-languagebar {
  margin-top: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-deskPlus .respo-languagebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1024px) {
  .footer-deskPlus .respo-languagebar {
    display: none;
  }
}

.footer-respo-bot {
  height: 80px;
  background: url(../images/CSR_bg_2.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .header-nav-ul {
  max-width: unset;
  margin: unset;
  padding: 0;
}

@media screen and (min-width: 768px) {
  footer .header-nav-ul {
    height: 88px;
  }
}

@media screen and (min-width: 1024px) {
  footer .header-nav-ul {
    height: 100%;
  }
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials a {
  display: block;
  height: 26px;
  width: 26px;
}

@media screen and (min-width: 768px) {
  .footer-socials a {
    height: 26px;
    width: 26px;
  }
}

.footer-socials .social-logos {
  width: unset;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .footer-socials .social-logos {
    gap: 26px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-socials .social-logos {
    gap: 16px;
  }
}

.footer-socials svg {
  width: 100%;
  height: 100%;
}

.footer-socials p {
  color: #353535;
  font-size: 12px;
  line-height: 14px;
  margin-right: 38px;
  font-family: firaMedium;
}

@media screen and (min-width: 768px) {
  .footer-socials p {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-socials p {
    margin-right: 18px;
    font-size: 16px;
    line-height: 19px;
  }
}

footer .footer-respo-languagebar {
  margin-top: 0;
  height: 80px;
  width: 100%;
  color: white;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: firaGo;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 1024px) {
  footer .footer-respo-languagebar {
    height: 190px;
  }
}

footer .footer-respo-languagebar.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  footer .footer-respo-languagebar.active {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  footer .footer-respo-languagebar.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer .footer-respo-languagebar a:nth-child(2) {
  margin: 0 50px;
}

@media screen and (min-width: 1024px) {
  footer .footer-respo-languagebar > a {
    display: none;
  }
}

footer .footer-respo-languagebar .desktopSizeCandLang {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  footer .footer-respo-languagebar .desktopSizeCandLang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  font-family: firaMedium;
}

.copyright::before {
  position: relative;
  content: url(../images/copyright.svg);
  margin-right: 13px;
}

.hero-content.respoGame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero-content.respoGame .hero-respo-game-cover-div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.hero-content.respoGame .hero-respo-game-cover-div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-respo-article {
  background-image: url(../images/respogame/hero-content-cover.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  width: 322.5px;
  height: 150px;
  padding: 14px 30px 0 12px;
  color: white;
}

@media screen and (min-width: 768px) {
  .hero-respo-article {
    width: 714px;
    height: 135px;
    background-image: url(../images/respogame/hero-content-cover768.svg);
    padding: 16px 57px 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-respo-article {
    background-image: url(../images/respogame/hero-content-cover1024.svg);
    width: 1100px;
    height: 180px;
    padding: 36px 140px 0 36px;
  }
}

.hero-respo-article h2 {
  font-family: firaBold;
  font-size: 16px;
  margin-bottom: 7px;
}

@media screen and (min-width: 768px) {
  .hero-respo-article h2 {
    font-size: 20px;
    margin-bottom: 9.2px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-respo-article h2 {
    font-size: 26px;
    line-height: 41px;
    margin-bottom: 12px;
  }
}

.hero-respo-article p {
  font-family: firaMedium;
  font-size: 12px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
  .hero-respo-article p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-respo-article p {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  .rg-news {
    background: white;
  }
}

.rg-news-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 98px;
}

@media screen and (min-width: 1024px) {
  .rg-news-inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    gap: 98px 9px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.rg-news-inner img {
  width: 48%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 1024px) {
  .rg-news-inner img {
    width: 100%;
  }
}

.rg-news-inner.container {
  padding: 0;
}

.rg-news-each-inner.container {
  padding: 0;
  position: static;
}

.rg-news-each {
  background: none;
  width: 100%;
  position: relative;
  background: white;
  padding: 28px 18px 32px;
}

@media screen and (min-width: 1024px) {
  .rg-news-each {
    width: calc(50% - 5px);
    background: none;
  }
}

.rg-news-each::after {
  content: '';
  height: 0;
  width: 100vw;
  border-bottom: 2px dashed #C8495E;
  position: absolute;
  right: 0;
  top: -2px;
}

@media screen and (min-width: 768px) {
  .rg-news-each::after {
    right: calc((100vw - 632px) / -2);
  }
}

@media screen and (min-width: 1024px) {
  .rg-news-each::after {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .rg-news-each:nth-of-type(even)::after {
    display: block;
    right: -20px;
    top: 0;
  }
}

@media screen and (min-width: 1336px) {
  .rg-news-each:nth-of-type(even)::after {
    right: calc((100vw - 1336px + 40px) / -2);
  }
}

.rg-news-h1 {
  width: 220px;
  height: 50px;
  background: url(../images/respogame/grey-title-text-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C8495E;
  font-family: firaBold;
  font-size: 16px;
  padding-left: 31px;
  top: -52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .rg-news-h1 {
    width: 354px;
    font-size: 20px;
    background: url(../images/respogame/grey-title-text-bg768.svg);
  }
}

@media screen and (min-width: 1024px) {
  .rg-news-h1 {
    width: 470px;
    height: 80px;
    top: -80px;
    font-size: 26px;
    background: url(../images/respogame/grey-title-text-bg1024.svg);
  }
}
/*# sourceMappingURL=style.css.map */