// colors
$black: #353535
$red: #AD0A22
$grey: #A0A0A0
// light colors
$pink: #C8495E
$green: #2C7A60
$lightblue: #5E7289
$lightgrey: #9C9E9F
$e3: #E3E3E3
$blue: #203668
$normalbg: #F6F6F6
$darkbg: #363636


// respo sizes
$tablet-width: 768px
$desktop-width: 1024px

@mixin tabletPlus768()
    @media screen and (min-width: $tablet-width)
        @content
@mixin sportsEach()
    margin-bottom: 36px
    box-shadow: 0px 0px 20px #b895950a
    border-radius: 12px
    border: 1px solid $e3
    @include tabletPlus768()
        padding: 47px 140px
        margin-bottom: 52px
    @include desktopPlus1024() 
        padding: 76px 20px
        height: 800px       
        display: flex
        gap: 36px
        margin-bottom: 72px
    @include sizePlus(1336px)
        padding: 76px 114px  
    &:last-child
        margin-bottom: 0
    .sports-each-text-div
        flex: 1

@mixin sizePlus($width)
    @media screen and (min-width: $width)
        @content

@mixin desktopPlus1024()
    @media screen and (min-width: $desktop-width)
        @content
    
@mixin complexBox($padding, $boxWidth, $boxHeight)
    width: $boxWidth
    height: $boxHeight
    background: transparent
    color: transparent
    border-top-right-radius: calc( #{$padding} * 2 )
    border-top-left-radius: calc( #{$padding} * 2 )
    @include centering()
    overflow: unset
    position: relative
    &::after, &::before
        content: ''
        display: block
        position: absolute
        top: 0
        right: calc( #{$padding} * -2)
        
        padding: 0 #{$padding}
        height: calc(100% - (#{$padding} * 2))

        border-bottom: calc(#{$padding} * 2) solid transparent
    &::after
        z-index: 1
        border-color: transparent       
        border-bottom-left-radius: calc(#{$padding} * 2)

@mixin complexBoxColor($boxcolour, $font-color, $bg-colour)
    background: $boxcolour
    color: $font-color
    &::after, &::before
        border-color: $boxcolour
    &::after
        border-color: $bg-colour
    
@mixin complexBoxLine()
    &::after
        content: ''
        display: block
        position: absolute
        right: 0
        width: 100vw
        height: 2px
        border-top: 2px dashed transparent

@mixin centering()
    display: flex
    justify-content: center
    align-items: center

@mixin flexing($justi, $align,)
    display: flex
    justify-content: $justi
    align-items: $align
@mixin flexingDir($dir, $justi, $align,)
    display: flex
    flex-direction: $dir
    justify-content: $justi
    align-items: $align
@mixin font($size, $weight)
    font-size: $size
    font-weight: $weight
    
    